/* Card */
.product-box {
  text-decoration: none;
  color: var(--clr-rangoon-green);
}

.card {
  border: 1px solid var(--clr-pirate-gold);
  border-radius: 8px;
  background-color: var(--clr-white);
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: -2px -1px 12px 1px var(--clr-pirate-gold);
}

.thumbnail {
  aspect-ratio: 1 / 1;
  padding: 2px;
}

.card .thumbnail-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: center center;
  background-color: transparent;
}

/* content */
.card .content {
  padding: 12px 22px;
  text-align: left;
}

.card .content-title {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}

.content-title:hover,
.heart-icon:hover,
.shopping-icon:hover {
  color: var(--clr-pirate-gold);
}

.content-genre {
  margin-bottom: 12px;
}

.content-desc {
  font-size: 16px;
  color: var(--clr-abbey);
  margin-bottom: 24px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0px;
}

.heart-icon,
.shopping-icon {
  font-size: 32px;
  color: var(--clr-abbey);
}

.heart-icon {
  margin-right: 12px;
}

.content-price {
  font-size: 26px;
  color: var(--clr-malibu);
}
