.sitemap-title {
  margin-bottom: 24px;
}

.sitemap-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  align-items: center;
  gap: 6px;
}

.sitemap-item-link {
  text-decoration: none;
  color: var(--clr-headings-primary);
  padding: 4px 8px;
  line-height: 1px;
  border-radius: 4px;
}

.sitemap-item-link:hover {
  background-color: var(--clr-pirate-gold);
}
