.product-wrapper {
  max-width: calc(100% - 2 * 100px);
  margin: 0 auto;
}

.search-form {
  margin: 24px auto;
  max-width: calc(100% - 2 * 100px);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--clr-white);
  box-shadow: -2px -1px 12px 1px var(--clr-pirate-gold);
}

.search-label {
  min-width: 80%;
}

.search-terms {
  margin-right: 24px;
  font-size: 23px;
  text-transform: uppercase;
  color: var(--clr-rangoon-green);
}

.search-input {
  width: 80%;
  background-color: transparent;
  border: 1px solid var(--clr-abbey);
  padding: 6px;
  border-radius: 6px;
}

.product-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 12px;
  border-radius: 6px;
  background-color: transparent;
}

.no-publications {
  text-align: center;
  color: var(--clr-white);
}

@media screen and (max-width: 1142px) {
  .section-title {
    font-size: 3rem;
  }
  .product-ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .search-form {
    max-width: 90%;
  }
}

@media screen and (max-width: 928px) {
  .product-ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .product-wrapper {
    max-width: calc(100% - 2 * 80px);
  }

  .search-form {
    max-width: 100%;
  }

  .search-terms {
    margin-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }

  .search-terms {
    display: none;
  }

  .search-input {
    width: 100%;
  }
}

@media screen and (max-width: 648px) {
  .section-title {
    font-size: 2rem;
  }

  .product-ul {
    gap: 24px;
  }

  .product-wrapper {
    max-width: calc(100% - 2 * 60px);
  }

  .search-label {
    min-width: 70%;
  }

  .search-input {
    width: 100%;
  }
}

@media screen and (max-width: 602px) {
  .product-ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .product-wrapper {
    max-width: calc(100% - 2 * 100px);
  }
}

@media screen and (max-width: 499px) {
  .product-wrapper {
    max-width: calc(100% - 2 * 24px);
  }

  .section-title {
    font-size: 1.5rem;
  }
}
