.product-wrapper {
  max-width: calc(100% - 2 * 100px);
  margin: 0 auto;
}

.product-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 12px;
  border-radius: 6px;
  background-color: transparent;
}

@media screen and (max-width: 1142px) {
  .product-ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 928px) {
  .product-wrapper {
    max-width: calc(100% - 2 * 80px);
  }
  .product-ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 648px) {
  .product-wrapper {
    max-width: calc(100% - 2 * 60px);
  }

  .product-ul {
    gap: 24px;
  }
}

@media screen and (max-width: 602px) {
  .product-wrapper {
    max-width: calc(100% - 2 * 100px);
  }

  .product-ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 499px) {
  .product-wrapper {
    max-width: calc(100% - 2 * 24px);
  }
}
