.footer {
  width: 100%;
  color: var(--clr-headings-primary);
  font-family: 'Barlow', sans-serif;
}

.footer-section {
  margin-bottom: 0px;
}

.footer-wrapper {
  max-width: calc(100% - 2 * 100px);
  padding: 32px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1200px) {
  .footer-wrapper {
    padding: 32px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .footer-wrapper {
    max-width: calc(100% - 2 * 80px);
    padding: 32px 12px;
    gap: 24px;
  }
}

@media screen and (max-width: 980px) {
  .footer-wrapper {
    max-width: calc(100% - 2 * 70px);
    padding: 32px 0px;
    gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 12px;
    gap: 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer-wrapper {
    padding: 32px 0px;
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 64px;
    gap: 24px;
  }
}

@media screen and (max-width: 500px) {
  .footer-wrapper {
    max-width: calc(100% - 2 * 30px);
    padding: 32px;
    gap: 24px;
  }
}

@media screen and (max-width: 400px) {
  .footer-wrapper {
    text-align: center;
    max-width: calc(100% - 2 * 10px);
    padding: 32px;
    gap: 24px;
  }
}
