.hero {
  font-family: 'EB Garamond', serif;
  color: var(--clr-white);
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  /* height: 70vh; */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.6;
}

.hero-img {
  height: auto;
  width: auto;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-60%);
  padding: 48px 72px;
  width: 100%;
}

.hero-title {
  text-transform: uppercase;
  font-size: 56px;
  margin-bottom: 48px;
}

.hero-subtitle {
  font-size: 48px;
  position: absolute;
  right: 72px;
  bottom: 0px;
}

.site-title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .hero-content {
    padding: 48px;
  }

  .hero-subtitle {
    right: 48px;
  }

  .hero-title,
  .hero-subtitle {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .hero-title {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    margin-bottom: 24px;
  }

  .hero-title,
  .hero-subtitle {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 640px) {
  .hero-title {
    margin-bottom: 12px;
  }

  .hero-subtitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 499px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-content {
    padding: 24px;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    right: 24px;
  }
}
