.slider-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--clr-malibu);
}

.action-section {
  min-width: 730px;
  min-height: 400px;
  padding: 12px;

  border-radius: 8px;
  box-shadow: 0px 0px 15px -3px #000000;
  background-color: var(--clr-white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  position: relative;
}

.input-label {
  display: block;
  font-size: 21px;
  margin-bottom: 4px;
}

.description {
  resize: none;
}

.description,
.input {
  width: 100%;
  border: 1px solid var(--clr-abbey);
  padding: 6px;
  border-radius: 6px;
}
