.action-container {
  max-width: calc(100% - 2 * 100px);
  margin: 0 auto;
  margin-bottom: 64px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  border-radius: 6px;
  background-color: var(--clr-white);
  /* box-shadow: -2px -1px 12px 1px var(--clr-pirate-gold); */
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  padding: 24px 16px;
}
