:root {
  --clr-primary-armadillo: #3e3d32;
  --clr-rangoon-green: #141410;
  --clr-abbey: #5c5d5e;
  --clr-pirate-gold: #c47d04;
  --clr-raw-sienna: #cc8745;
  --clr-Bulgarian-Rose: #370511;
  --clr-danger: #eb0029;
  --clr-malibu: #50b9e1;
  --clr-puerto-rico: #39c4b1;
  --clr-firefly: #0f2337;
  --clr-highland: #7a9364;
  --clr-headings-primary: #141410;
  --clr-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: var(--clr-primary-armadillo);
  background-color: var(--clr-white);

  position: relative;
}

/* section */
.section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 12px 10px;
}

.section-title {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  color: var(--clr-headings-primary);
  margin-bottom: 32px;
}

.section-divider {
  margin: 0 auto;
  height: 1px;
  width: 80%;
  opacity: 0.7;
  background-color: var(--clr-pirate-gold);
  margin-bottom: 24px;
}

/* Typography */
h1 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-size: 18px;
}
